{% extends 'App/base.html' %}

{% block contenidoQueCambia %}
  
<br>
<br>

<div class="container">

<p><h4>{{zapatos.titulo}}</h4></p>

{% if zapatos.imagenInstrumento %}
    <p><img src="{{zapatos.imagenPrenda.url}}" alt=""></p>
{% endif %}
<p>Marca: {{zapatos.marca}}</p>
<p>Descripción: {{zapatos.descripcion}}</p>
<p>Fecha de publicacion: {{zapatos.fecha_publicacion}}</p>
<p>Precio: {{zapatos.precio}}</p>
<p>Telefono de Contacto: {{zapatos.contactoTLF}}</p>
<p>Email de Contacto: {{zapatos.email_contacto}}</p>

</div>
<br>
<div class="container">
    <h4>Comentarios</h4>
    <br>
    <div class="container">
    {% if not zapatos.comentarios.all %}
        Aun no tiene comentarios esta publicacion
    {% else %}
        {% for comentario in zapatos.comentarios.all %}
        <p><strong>{{comentario.nombre}}</strong></p>
        <p>{{comentario.mensaje}}</p>
        <p><small>{{comentario.fechaComentario}}</small></p>
        <hr>
        {% endfor %}
    {% endif %}
    <a href="{% url 'comentario' zapatos.pk %}">Agrega un Comentario</a>
    </div>
</div>
<br>

{% endblock %}